.quare1{
    display: flex;
    margin: auto;
    width: 35.7142855vw;     
    height: 35.7142855vh;
    background: rgb(0, 0, 0);
    position: relative;
  
  }
  .quare2{
    display: flex;
    margin: auto;
    width: 21.42857vw;       
    height: 21.42857vh;
    background: white;
    position: relative;
  }
  .quare3{
    display: flex;
    margin: auto;
    width: 7.142857vw;
    height: 7.142857vh;          
    background: black;
    position: relative;
  }
  .con{
      width: 100%;
      height: 100%;
      position :absolute;
  }